.env
node_modules
Debug.ipynb
memory/
core_knowledge
__pycache__
.token_cache
.ipynb_checkpoints/
*.egg-info
.pyre
memory
.vscode


# tokens
service_account.json
session_name*.session
token.pickle
gmail_token.json
credentials.json
whoop_config.json
whoop_token.json
